
.slider {
    width: 100%;
    height:100vh;
    overflow: hidden;
}

.slider .slide {
    position: absolute;
    width: 100%;
   height:100vh;
    text-align:left;
	right: -100%;
    opacity: 0;
    transition: opacity 1s ease-in, right 0s 1s;
	overflow:hidden;
	
}




.slider .active {
    right: 0%;
    opacity: 1;
    transition: 1s ease;
}

.slider .slide-img {
    position: absolute;
    z-index: -9999;
    width: 100%;
    height: 100%;
}

.slide-next, .slide-pre {
    position: absolute;
    height: 100%;
    font-size: 100px;
    vertical-align: middle;
    color: #fff;
    opacity: 0.3;
}

.slide-pre {
    left: -100px;
	top:0
}

.slide-next {
    right: -100px;
	top:0;
}

.slide-pre:hover {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
    transition: 1s ease; 
}

.slide-next:hover {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
    transition: 1s ease;
}

.slider:hover .slide-pre {
    left: 0px;
    transition: 1s ease;
}

.slider:hover .slide-next {
    right: 0px;
    transition: 1s ease;
}

.slide-pre:hover, .slide-next:hover {
    opacity: 1;
    transition: 0.5s ease;
}

.slider .slide .slide-text {
    padding-right: 10%;
    padding-left: 10%;
}

.slider .slide .substrate {
    position: absolute;
    width: 100%;
    height: 100%;
   /* background: linear-gradient(to left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);*/
    z-index: -8888;
}

/* ARROWS */
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.ttf?4vkz26') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-chevron-left:before {
    content: "\e408";
	cursor:pointer;
  }
  .icon-chevron-right:before {
    content: "\e409";
	cursor:pointer;
  }
  
  
 .slider{position:relative;height:100vh;width:100%}.slider.fullscreen{height:100%;width:100%;position:absolute;top:0;left:0;right:0;bottom:0}.slider.fullscreen ul.slides{height:100%}.slider.fullscreen ul.indicators{z-index:2;bottom:30px}.slider .slides{background-color:#9e9e9e;margin:0;height:100vh}.slider .slides li{opacity:0;position:absolute;top:0;left:0;z-index:1;width:100%;height:inherit;overflow:hidden}.slider .slides li img{height:100%;width:100%;background-size:cover;background-position:center}.slider .slides li .caption{color:#fff;position:absolute;top:15%;left:15%;width:70%;opacity:0}.slider .slides li .caption p{color:#e0e0e0}
 
 
 
 