.ui-sortable-placeholder {
    	border: 1px dashed black!important;
        visibility: visible !important;
        background: #eeeeee78 !important;
       }
    .ui-sortable-placeholder * { visibility: hidden; }
        .RearangeBox.dragElemThumbnail{opacity:0.6;}
        .RearangeBox {
            width: 138px;
            height:160px;
            padding:10px 5px;
            cursor: all-scroll;
            float: left;
            border: 1px solid #9E9E9E;
            font-family: sans-serif;
            /* display: inline-block; */
            margin: 5px!important;
            text-align: center;
            color: #673ab7;
            background: #545454;
          /*color: rgb(34, 34, 34);
            background: #f3f2f1;     */

            background: #fff;
            border: 1px solid #777;
            border-radius: 0.25rem;
            box-shadow: 0.125rem 0.125rem 0.0625rem rgb(0 0 0 / 12%);
            margin-right: 1rem;
            max-width: 140px;
            padding: 0.25rem;
          }




body{
  font-family: sans-serif;
 margin: 0px;
}

.IMGthumbnail{
    max-width:100%;
    height:150px;
    margin:auto;
  background-color: #ececec;
  padding:2px;
  border:none;
}

.IMGthumbnail img{
   max-width:100%;
max-height:100%;
}

.imgThumbContainer{

  margin:4px;
  border: solid;
  display: inline-block;
  justify-content: center;
    position: relative;
    border: 1px solid rgba(0,0,0,0.14);
  -webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
    box-shadow: 0 0 4px 0 rgba(0,0,0,.2);
}
.img_btn{
  display: inline-block;
    vertical-align: middle;
    margin: 0 0 1rem 0;
    font-family: inherit;
    padding: 0.85em 1em;
   
    border: 1px solid transparent;
    border-radius: 0;
    -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    font-size: 0.9rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background-color: #1779ba;
    color: #fefefe;
}
.img_btn.hollow{
  border: 1px solid #1779ba;
    color: #1779ba;
}
.img_btn.hollow, .img_btn.hollow:hover, .img_btn.hollow:focus {
    background-color: transparent;
}
.show-for-sr, .show-on-focus {
    position: absolute !important;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
}

.quote-imgs-thumbs {
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  margin: 1.5rem 0;
  padding: 0.75rem;
}
.quote-imgs-thumbs--hidden {
  display: none;
}
.img-preview-thumb {
  background: #fff;
  border: 1px solid #777;
  border-radius: 0.25rem;
  box-shadow: 0.125rem 0.125rem 0.0625rem rgba(0, 0, 0, 0.12);
  margin-right: 1rem;
  max-width: 140px;
  padding: 0.25rem;
}


.imgThumbContainer > .imgName{
  text-align: center;
      padding: 0 6px;
      margin-top: 4px;
      font-size: 14px;
      height: 15px;
      /* overflow: hidden; */
      margin: -34px 0;
      display: none;
}

.imgThumbContainer > .imgRemoveBtn{
    position: absolute;
    color: #e91e63ba;
    right: 2px;
    top: 2px;
    cursor: pointer;
    display: none;
}

.RearangeBox:hover > .imgRemoveBtn{
    display: block;
}

#my-strictly-unique-vue-upload-multiple-image{
  /* width: 100%; */
  padding-bottom: 10px;
}
.largew{
  width: 100%;
}
.hoverflow{
  overflow: hidden;
}
.largHeight{
  height: 100%;
}
.protp .select2-container{
  width: 100%!important
}
.nopadding{
  padding: 0!important
}
.bbottm_none{
  border-bottom:none;
}
.thumbline_wrap{
  top: 0;
  z-index: 11;
}
.image-icon-delete{
  width: 30px!important;
    height: 30px!important;
    border: black 1px solid;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    padding-top: 5px;
    background: #3a2828;
    color: red;
    font-size: 17px;
    font-weight: bold;
}
.image-edit{
  width: 30px;
  height: 30px;
  border: 1px #000 solid;
  border-radius: 50%;
  text-align: center;
  margin-top: 10px;
}
.image-icon-delete:hover,.image-edit:hover{
  cursor: pointer;
  color: #ddd;
}
.slider-pro-wrap{
  width: 100%!important;
  min-width: 0;
  float: left;
}
.slider-pro-wrap .swiper-slide .swiper-slide-active{
  width: 100%!important;
}
.main-up-wa{
  position: relative;
  /* display: flex; */
}
.main-up-wa .image-container.position-relative.text-center.image-list{
  display: flex;
}
.thumb-container-wrap{
  position: absolute;
  bottom: 0;
}

.main-filter.open {
    background: #00000073;
    width: 0;
    max-width: 0;
    position: fixed;
    left: 0;
    right: 0;
    height: 100%;
    max-width: 100%;
    top: 0;
    width: 40%;
    max-width: 40%;
    transition: 1.2s;
}
/*.main-filter{
  width: 100%;
  max-width: 100%;
}*/


.image-bottom[data-v-1d0a16ec] {
  bottom: 0!important;
  left: 0;
  height: 40px;
  padding: 5px 10px;
  box-sizing: border-box;
 
}
.no_display{
display: none!important;
}
.display_block{
display: block!important;
}
.main-sidebar{
position: fixed!important;
}
.fa-times:before {
  content: "\ec8d"
}